<h1>Listing pasts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pasts.each do |past| %>
      <tr>
        <td><%= past.title %></td>
        <td><%= past.body %></td>
        <td><%= link_to 'Show', past %></td>
        <td><%= link_to 'Edit', edit_past_path(past) %></td>
        <td><%= link_to 'Destroy', past, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Past', new_past_path %>
