<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @past.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @past.body %>
</p>

<%= link_to 'Edit', edit_past_path(@past) %> |
<%= link_to 'Back', pasts_path %>
